.chat--main
  .chat--main__group--info
    .chat--main__group--info__left
      .chat--main__group--info__left__group--name
        test
      .chat--main__group--info__left--members
        Member : Kaito
    .chat--main__group--info__edit
      = link_to "#"  do
        Edit
  .chat--main__message--list
    .chat--main__message--list__show
      .chat--main__message--list__show--info
        Kaito 2020/02/27(Thu) 7:00:00
      .chat--main__message--list__show--comment
        おはよう！
    .chat--main__message--list__show
      .chat--main__message--list__show--info
        Kaito 2020/02/27(Thu) 12:30:00
      .chat--main__message--list__show--comment
        こんにちは！
    .chat--main__message--list__show
      .chat--main__message--list__show--info
        Kaito 2020/02/27(Thu) 20:00:00
      .chat--main__message--list__show--comment
        こんばんわ！

  .chat--main__message__form
    .chat--main__message__form__box
      .chat--main__message--form__box--message
        %form(action="/") 
          %input(type="text" placeholder='type a message' style="border-width:0px;border-style:None;")/
        %label{class: "chat--main__message__form__box--message--img"}
          =icon('fas', 'image')
          %input(type="file" class= "chat--main__message__form__box--message--img--file")/
    .chat--main__message__form__send
      %input(type="submit" value="Send" class="chat--main__message__form__send__btn")/
